.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 1rem;
}

.menu {
    width: 120rem;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}